* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background-color: #1a1423;
$text-color: #dbdae2;

body {
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;
}